
@{
    ViewBag.Title = "Details";
}

<script>
    function InitializeMap() {
        var latlng = new google.maps.LatLng(-34.397, 150.644);
        var myOptions = {
            zoom: 8,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map"), myOptions);

        var geocoder = new google.maps.Geocoder();
        document.getElementById('HideFiltersButton').addEventListener('click', function () {
            geocodeAddress(geocoder, map);
        });
    }
    window.onload = InitializeMap;

    function geocodeAddress(geocoder, resultsMap) {
        var address = "Warszawa, Poczty Gdańskiej 20"; // test adres - działa !!!!!!!!!!!!!!!1111111111oneoneeleven
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>

<body style="background-image:url('@Url.Content("~/images/dziwnypan.png")'); margin-left:5%; margin-right:5%;">

    <div class="grid OffertDetail">
        <div class="row cells2">
            <div class="cell">
                <img src="~/Images/mission.jpg" style="margin-top:5%;"/>
            </div>
            <div class="cell">
                <p>bla bla bla </p>
            </div>
            </div>
        <div class="row">
            <div class="cell">
                <p>szczegoly bla bla bla</p>
            </div>
        </div>
        <div class="row">
            <div id="map" style="width: 400px; height: 300px;"></div>
        </div>
        <div class="row">
           <a href="www.dupa.pl">www.dupa.pl</a>
        </div>
    </div>
    </body>
