@*@{
        ViewBag.Title = "Strona główna";
    }*@
<script>
    HideFilters = function (d) {

        // jak miasto jest podane - wybrane z listy
       var parentelem = $(d).parent();
        var parent2 = $(parentelem).parent();
        parent2.hide();
        var results = $(parent2).parent();
        var results2 = $(results).find(".Results");
        results2.removeClass("no-visible");
        results2.height(500);

        console && console.log(results2);
        var navigation = $(results).find(".HeaderFilter");
        navigation.removeClass("no-visible");

    }

    ActivityListcheck = function (e) {
        var parentelem = $(e).parent();      
        var parent2 = $(parentelem).parent();
        var parent3 = $(parent2).parent();
        var parent4 = $(parent3).parent();
        var results2 = $(parent4).find(".ActivityChildList");
        results2.removeClass("no-visible");

    }

    ShowDetails = function (f) {
       
        window.open('Details');
    }
</script>
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/css/site.css" rel="stylesheet" />
    <link href="~/Content/metro.css" rel="stylesheet"/>
    <link href="~/Content/css/jquery-autocomplete.css" rel="stylesheet"/>
    <script src="jquery.js"></script>
    <script src="~/Scripts/metro.js"></script>
    <script src="~/Scripts/autocomplete/jquery-autocomplete.js"></script>
</head>

<body style="background-image:url('@Url.Content("~/images/dziwnypan.png")'); margin-left:5%; margin-right:5%;">
    <div class="grid HeaderFilter no-visible" style="background-color:cadetblue;">
        <div class="row">
            <button  class="button lighten primary full-size HideFiltersButton">Zmien zajęcia i/lub miejsce zamieszkania</button>
        </div>
        <div class="row cells7" >
            <div class="cell" style="font-size:small; color:white;">Pozim trudności</div>
            <div class="cell" style="font-size:small; color:white;">Dzień zajęć</div>
            <div class="cell" style="font-size:small; color:white;">Godzina zajęć</div>
            <div class="cell" style="font-size:small; color:white;">Ilość osób w grupie</div>
            <div class="cell" style="font-size:small; color:white;">Akceptowane karty</div>
            <div class="cell" style="font-size:small; color:white;">Temin pierwszych zajęć</div>
            <div class="cell" style="font-size:small; color:white;">Odległość</div>         
        </div>
        <div class="row cells7" style="font-size:small;">
            <div class="cell" style="height: 70px;  overflow-y: scroll; color:white;">
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Zaznacz wszystko</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Początkujący</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Średniozaawansowany</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Zaawansowany</span>
                    </label>
                </div>
            </div>
            <div class="cell" style="height: 70px;  overflow-y: scroll; color:white;">
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Zaznacz wszystko</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Poniedziałek</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Wtorek</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Środa</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Czwartek</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Piątek</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Sobota</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Niedziela</span>
                    </label>
                </div>
            </div>
            <div class="cell" style="height: 70px;  overflow-y: scroll; color:white;">
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>Na zajęcia będę dojeżdżać z:
                        <span class="caption">Zaznacz wszystko</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">7-10</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">10-13</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">13-16</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">16-19</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">19-22</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">22-24</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">01-07</span>
                    </label>
                </div>
            </div>
            <div class="cell" style="height: 70px;  overflow-y: scroll; color:white;">
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Zaznacz wszystko</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Indywidualne</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">2-3</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">4-8</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">więcej niż 8</span>
                    </label>
                </div>                            
            </div>
            <div class="cell" style="height: 70px;  overflow-y: scroll; color:white;">
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Zaznacz wszystko</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">FitProfit</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Multisport</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">OkGo</span>
                    </label>
                </div>
            </div>
            <div class="cell" style="height: 70px;  overflow-y: scroll; color:white;">
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Zaznacz wszystko</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Już rozpoczęste</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Najbliższy tydzień</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Najbliższe dwa tygodnie</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Najbliższy miesiąc</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Dalej niż najbliższy miesiąc</span>
                    </label>
                </div>
            </div>
            <div class="cell" style="height: 70px;  overflow-y: scroll; color:white;">
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Zaznacz wszystko</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Do 2km</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">2km - 5km</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">5km - 8km</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">8km - więcej</span>
                    </label>
                </div>
            </div>
        </div>     
        <div class="row"></div>
      
    </div>
   <div class="grid PrevFilters" style="margin-left:5%; margin-right:5%; margin-top:-10%; background-color:cadetblue;">
        <div class="row cells5" style="margin-top:-10%;">
            <div class="cell">
                <div class="cell" style="margin-top:-35%;"><img src="~/Images/mission.jpg" /></div>
            </div>
            <div class="cell colspan4" style="margin-top:-5%;">
                <div class="row cells3">
                    <div class="cell"><label style="color:white; font-size:larger;">Na zajęcia będę dojeżdżać z: </label></div>
                    <div class="cell"><input class="city-picker" type="text" placeholder="Np. Warszawa," style="width:80%;" /></div>
                    <div class="cell"><input class="street-picker disabled" disabled="disabled" type="text" placeholder="Np. Złota 1" style="width:80%;" /></div>
                </div>
                <div class="row cells3">
                    <div class="cell"><label style="color:white;font-size:larger;">Podaj nazwę zajęć: </label></div>
                    <div class="cell"><input type="text" placeholder="Np. Basen, Siłownia" /></div>
                </div>
                <div class="row cells3">
                    <div class="cell"><label style="color:white;font-size:larger;">Lub wybierz z listy: </label></div>
                </div>
            </div>
        </div>
        <div class="row cells3">
            <div class="cell"></div>
            <div class="cell ActivityList" style="height: 120px;  overflow-y: scroll; color:white;">
                <div class="row">
                    <label class="input-control checkbox small-check ActivityListcheck">
                        <input type="checkbox" unchecked onclick="ActivityListcheck(this)">
                        <span class="check"></span>
                        <span class="caption">Zaznacz wszystko</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check ActivityListcheck">
                        <input type="checkbox" unchecked onclick="ActivityListcheck(this)">
                        <span class="check"></span>
                        <span class="caption">Basen</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check ActivityListcheck">
                        <input type="checkbox" unchecked onclick="ActivityListcheck(this)">
                        <span class="check"></span>
                        <span class="caption">Siłownia</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check ActivityListcheck">
                        <input type="checkbox" unchecked onclick="ActivityListcheck(this)">
                        <span class="check"></span>
                        <span class="caption">Taniec</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check ActivityListcheck">
                        <input type="checkbox" unchecked onclick="ActivityListcheck(this)">
                        <span class="check"></span>
                        <span class="caption">Ścianka wspinaczkowa</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check ActivityListcheck">
                        <input type="checkbox" unchecked onclick="ActivityListcheck(this)">
                        <span class="check"></span>
                        <span class="caption">Jazda konna</span>
                    </label>
                </div>
            </div>
            <div class="cell ActivityChildList no-visible" style="height: 120px;  overflow-y: scroll; color:white;">
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Zaznacz wszystko</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Aerobik wodny</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Aerobik wodny dla pojebanych</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Taniec połamaniec</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Taniec na rurze</span>
                    </label>
                </div>
                <div class="row">
                    <label class="input-control checkbox small-check">
                        <input type="checkbox" unchecked>
                        <span class="check"></span>
                        <span class="caption">Taniec na rurze nago</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="button lighten primary full-size HideFiltersButton" style="font-size:larger;" onclick="HideFilters(this)">Pokaż</button>
        </div>
    </div>
   <div class="flex-grid condensed no-visible data-item Results" data-role="listview" data-name="ELements" data-autolist="NoEmpty" style=" overflow-y: scroll;">
        <div class="row-template item-row item-ident">

            <div class="row cells12" style="margin-top:2%; background-color:cornflowerblue;" onclick="ShowDetails(this)">
                <div class="cell size2">
                    <img src="~/Images/pzykladlogo.jpg" />
                </div>
                <div class="cell size10" style="margin-left:5%;">
                    <div class="row cells10" style="height:33px;">
                        <div class="cell size3" style="margin-top:2%;">Nazwa zajęć</div>
                        <div class="cell size3" style="margin-top:2%;">Odległość</div>
                        <div class="cell size4" style="margin-top:2%;">Akceptowane karty</div>
                    </div>                   
                    <div class="row cells10"  style="height:33px;">
                        <div class="cell size3" style="margin-top:10%;">Poziom trudności</div>
                        <div class="cell size3" style="margin-top:10%;">Dzień tygodnia i godzina zajęć</div>
                        <div class="cell size4" style="margin-top:10%;">Kiedy pierwsze zajęcia w grupie</div>
                    </div>
                </div>
            </div>
            <div class="row cells12" style="margin-top:2%; background-color:cornflowerblue;" onclick="ShowDetails(this)">
                <div class="cell size2">
                    <img src="~/Images/pzykladlogo.jpg" />
                </div>
                <div class="cell size10" style="margin-left:5%;">
                    <div class="row cells10" style="height:33px;">
                        <div class="cell size3" style="margin-top:2%;">Nazwa zajęć</div>
                        <div class="cell size3" style="margin-top:2%;">Odległość</div>
                        <div class="cell size4" style="margin-top:2%;">Akceptowane karty</div>
                    </div>
                    <div class="row cells10" style="height:33px;">
                        <div class="cell size3" style="margin-top:10%;">Poziom trudności</div>
                        <div class="cell size3" style="margin-top:10%;">Dzień tygodnia i godzina zajęć</div>
                        <div class="cell size4" style="margin-top:10%;">Kiedy pierwsze zajęcia w grupie</div>
                    </div>
                </div>
            </div>
            <div class="row cells12" style="margin-top:2%; background-color:cornflowerblue;" onclick="ShowDetails(this)">
                <div class="cell size2">
                    <img src="~/Images/pzykladlogo.jpg" />
                </div>
                <div class="cell size10" style="margin-left:5%;">
                    <div class="row cells10" style="height:33px;">
                        <div class="cell size3" style="margin-top:2%;">Nazwa zajęć</div>
                        <div class="cell size3" style="margin-top:2%;">Odległość</div>
                        <div class="cell size4" style="margin-top:2%;">Akceptowane karty</div>
                    </div>
                    <div class="row cells10" style="height:33px;">
                        <div class="cell size3" style="margin-top:10%;">Poziom trudności</div>
                        <div class="cell size3" style="margin-top:10%;">Dzień tygodnia i godzina zajęć</div>
                        <div class="cell size4" style="margin-top:10%;">Kiedy pierwsze zajęcia w grupie</div>
                    </div>
                </div>
            </div>
            <div class="row cells12" style="margin-top:2%; background-color:cornflowerblue;" onclick="ShowDetails(this)">
                <div class="cell size2">
                    <img src="~/Images/pzykladlogo.jpg" />
                </div>
                <div class="cell size10" style="margin-left:5%;">
                    <div class="row cells10" style="height:33px;">
                        <div class="cell size3" style="margin-top:2%;">Nazwa zajęć</div>
                        <div class="cell size3" style="margin-top:2%;">Odległość</div>
                        <div class="cell size4" style="margin-top:2%;">Akceptowane karty</div>
                    </div>
                    <div class="row cells10" style="height:33px;">
                        <div class="cell size3" style="margin-top:10%;">Poziom trudności</div>
                        <div class="cell size3" style="margin-top:10%;">Dzień tygodnia i godzina zajęć</div>
                        <div class="cell size4" style="margin-top:10%;">Kiedy pierwsze zajęcia w grupie</div>
                    </div>
                </div>
            </div>
            <div class="row cells12" style="margin-top:2%; background-color:cornflowerblue;" onclick="ShowDetails(this)">
    <div class="cell size2">
        <img src="~/Images/pzykladlogo.jpg" />
    </div>
    <div class="cell size10" style="margin-left:5%;">
        <div class="row cells10" style="height:33px;">
            <div class="cell size3" style="margin-top:2%;">Nazwa zajęć</div>
            <div class="cell size3" style="margin-top:2%;">Odległość</div>
            <div class="cell size4" style="margin-top:2%;">Akceptowane karty</div>
        </div>
        <div class="row cells10" style="height:33px;">
            <div class="cell size3" style="margin-top:10%;">Poziom trudności</div>
            <div class="cell size3" style="margin-top:10%;">Dzień tygodnia i godzina zajęć</div>
            <div class="cell size4" style="margin-top:10%;">Kiedy pierwsze zajęcia w grupie</div>
        </div>
    </div>
            </div>
            <div class="row cells12" style="margin-top:2%; background-color:cornflowerblue;" onclick="ShowDetails(this)">
                <div class="cell size2">
                    <img src="~/Images/pzykladlogo.jpg" />
                </div>
                <div class="cell size10" style="margin-left:5%;">
                    <div class="row cells10" style="height:33px;">
                        <div class="cell size3" style="margin-top:2%;">Nazwa zajęć</div>
                        <div class="cell size3" style="margin-top:2%;">Odległość</div>
                        <div class="cell size4" style="margin-top:2%;">Akceptowane karty</div>
                    </div>
                    <div class="row cells10" style="height:33px;">
                        <div class="cell size3" style="margin-top:10%;">Poziom trudności</div>
                        <div class="cell size3" style="margin-top:10%;">Dzień tygodnia i godzina zajęć</div>
                        <div class="cell size4" style="margin-top:10%;">Kiedy pierwsze zajęcia w grupie</div>
                    </div>
                </div>
            </div>
            <div class="row cells12" style="margin-top:2%; background-color:cornflowerblue;" onclick="ShowDetails(this)">
                <div class="cell size2">
                    <img src="~/Images/pzykladlogo.jpg" />
                </div>
                <div class="cell size10" style="margin-left:5%;">
                    <div class="row cells10" style="height:33px;">
                        <div class="cell size3" style="margin-top:2%;">Nazwa zajęć</div>
                        <div class="cell size3" style="margin-top:2%;">Odległość</div>
                        <div class="cell size4" style="margin-top:2%;">Akceptowane karty</div>
                    </div>
                    <div class="row cells10" style="height:33px;">
                        <div class="cell size3" style="margin-top:10%;">Poziom trudności</div>
                        <div class="cell size3" style="margin-top:10%;">Dzień tygodnia i godzina zajęć</div>
                        <div class="cell size4" style="margin-top:10%;">Kiedy pierwsze zajęcia w grupie</div>
                    </div>
                </div>
            </div>
            <div class="row cells12" style="margin-top:2%; background-color:cornflowerblue;" onclick="ShowDetails(this)">
                <div class="cell size2">
                    <img src="~/Images/pzykladlogo.jpg" />
                </div>
                <div class="cell size10" style="margin-left:5%;">
                    <div class="row cells10" style="height:33px;">
                        <div class="cell size3" style="margin-top:2%;">Nazwa zajęć</div>
                        <div class="cell size3" style="margin-top:2%;">Odległość</div>
                        <div class="cell size4" style="margin-top:2%;">Akceptowane karty</div>
                    </div>
                    <div class="row cells10" style="height:33px;">
                        <div class="cell size3" style="margin-top:10%;">Poziom trudności</div>
                        <div class="cell size3" style="margin-top:10%;">Dzień tygodnia i godzina zajęć</div>
                        <div class="cell size4" style="margin-top:10%;">Kiedy pierwsze zajęcia w grupie</div>
                    </div>
                </div>
            </div>
            <div class="row cells12" style="margin-top:2%; background-color:cornflowerblue;" onclick="ShowDetails(this)">
                <div class="cell size2">
                    <img src="~/Images/pzykladlogo.jpg" />
                </div>
                <div class="cell size10" style="margin-left:5%;">
                    <div class="row cells10" style="height:33px;">
                        <div class="cell size3" style="margin-top:2%;">Nazwa zajęć</div>
                        <div class="cell size3" style="margin-top:2%;">Odległość</div>
                        <div class="cell size4" style="margin-top:2%;">Akceptowane karty</div>
                    </div>
                    <div class="row cells10" style="height:33px;">
                        <div class="cell size3" style="margin-top:10%;">Poziom trudności</div>
                        <div class="cell size3" style="margin-top:10%;">Dzień tygodnia i godzina zajęć</div>
                        <div class="cell size4" style="margin-top:10%;">Kiedy pierwsze zajęcia w grupie</div>
                    </div>
                </div>
            </div> 
                        </div>
        </div>
                  
</body>
</html>
<script>
    HideFilters = function(d) {
        var parentelem = $(d).parent();
        var parent2 = $(parentelem).parent();
        parent2.hide();
        var results = $(parent2).parent();
        var results2 = $(results).find(".Results");
        results2.removeClass("no-visible");

        var navigation = $(results).find(".HeaderFilter");
        navigation.removeClass("no-visible");

    }

    $(".city-picker").keyup(function() {
        var _array = [];
        var obj = {};
        if ($(this).val().length > 1) {
            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                url: "@(Url.Action("CityFilter", "Home"))",
                data: { "searchString": $(".city-picker").val() },
                success: function(data) {
                    $.each(data, function(i, item) {
                        obj =
                        {
                            value: item.cityName,
                            label: item.cityName,
                            cityCounty: item.cityCounty,
                            cityProvince: item.cityProvince,
                            cityID: item.cityID
                        };
                        _array.push(obj);
                    });

                    $(".city-picker").autocomplete({
                        minLength: 2,
                        source: _array,
                        select: function(ul, item) {
                            $($(this)).attr("data-city-county", item.item.cityCounty);
                            $($(this)).attr("data-city-province", item.item.cityProvince);
                            $(".street-picker").removeAttr("disabled");
                            $('.street-picker').removeClass("disabled");
                        }
                    }).data("ui-autocomplete")._renderItem = function(ul, item) {
                        ul.addClass("city-autocomplete");
                        return $("<li></li>").data("item.autocomplete", item)
                            .append("<a data-city-id=" + item.cityID + " data-city-county=" + item.cityCounty + " data-city-province=" + item.cityProvince + ">" + item.label + "</a>")
                            .appendTo(ul);
                    };
                }
            });
        }
    });

    $(".street-picker").keyup(function() {
        var _array = [];
        var obj = {};
        if ($(this).val().length > 1) {
            var cityCounty = $(".city-picker").attr("data-city-county");
            var cityProvince = $(".city-picker").attr("data-city-province");
            if (typeof cityCounty !== typeof undefined && cityCounty !== false && cityProvince !== typeof undefined && cityProvince !== false) {
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("StreetFilter", "Home"))",
                    data: { "searchString": $(".street-picker").val(), powiat: cityCounty, wojewodztwo: cityProvince },
                    success: function(data) {
                        $.each(data, function (i, item) {
                            obj =
                            {
                                value: item.streetName,
                                label: item.streetName
                            };
                            _array.push(obj);
                        });

                        $(".street-picker").autocomplete({
                            minLength: 2,
                            source: _array
                        });
                    }
                });
            }
        }
    });

    $(".city-picker").on("keyup", function() {
        var attr = $(this).attr('data-city-county');
        if (typeof attr !== typeof undefined && attr !== false) {
            $(this).removeAttr("data-city-county");
            $(this).removeAttr("data-city-province");
            $(".street-picker").attr("disabled", "disabled");
            $('.street-picker').addClass("disabled");
            $(".street-picker").val("");
        };
    });


</script>