@{
    ViewBag.Title = "Strona główna";
}
@section featured {
    <section class="featured">

        <div class="navigation-bar">
            <div class="navigation-bar-content">
                <button class="navigation-bar-button">Taniec</button>
                <button class="navigation-bar-button">Siłownia</button>
                <button class="navigation-bar-button">Fitness</button>
                <button class="navigation-bar-button">Sport</button>
            </div>
        </div>

        <div class="product-filter">
            <div class="filter">
                <input type="checkbox" name="Wszystkie" checked="checked" class="icheckbox_flat" />
                <label>Wszystkie</label>
            </div>
        </div>

    </section>
}
